# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/songs/america.mp3

src/assets/songs/devil.mp3
src/assets/songs/father.mp3


src/assets/songs/Hurricane   Kanye West.mp3
src/assets/songs/jackie.mp3

src/assets/songs/preacher-man.mp3

src/assets/songs/wire.mp3
src/assets/songs/slime-out.mp3
